#footer
  .container.text-center
    div © 2014 Halotis, Inc.
    div
      strong Blog Nag
      |  Project ·
      |  Created by
      a(href='http://halotis.com')  Matt Warren
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
      |  /
      a(href='https://github.com/mfwarren/nag')  GitHub Project
