extends layout

block content
  h1 Blog Nag
  p.lead
    | Want to keep up a regular blogging schedule.  Blog Nag is the answer!
    br
    | We email you relentlessly when your blog is getting stale.
